body{
    background-color: #666666;
    font-family: 'Roboto Mono', monospace;
    

}
form{
    max-width: 1020px;
    background-color: #c4b9bc;
    padding: 10px 25px;
    margin-top: 50px;
    margin-left: 250px;
    border-radius: 5px;
}
h2{
    background-color: rgb(143, 64, 64);
    margin-top: 2px;
    padding:4px ;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
table{
    border: 4px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

td{
    width: 50%;
    border-color: #e7e3e3;
      
}
.input{
    background-color: #c4b9bc;
    width: 99%;   
}
::placeholder{
    color: #fff;
    font-weight: bold;
    
}
label{
    font-weight: bold;
   
}
a{
    color: rgb(43, 43, 245);
    font-weight: bold;
}
button{
    color: rgb(100, 20, 20);
    background-color: #716c6e;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;  
}